footer {
    // display: none;
    position: fixed;
    bottom: 0;
    // display: none;
    width: 100%;
    background: $color-primary;
    
    // div {
    //     display: flex;
    //     justify-content: space-between;
    // }

    p {
        font-family: $font-secondary;
        font-size: 2rem;
        text-align: center;
        
        color: white;
    }
}