header {
    position: relative;
    background: $color-primary;
    color: white;
    text-align: center;
    height: 15vh;

    h1 {
        padding: 2%;
        font-size: 7rem;
        font-weight: bolder;
    }

    .instructions {
        position: absolute;
        top: 20px;
        right: 20px;
        border: none;
        background-color: transparent;

        font-size: 1.5rem;

        .fas {
            font-size: 4rem;
            color: $color-tertiary;
        }
    }
}
