$color-primary: #17103D;
$color-secondary: #423D5B;
$color-tertiary: #FFCA13;
$color-quaternary: #77B8D4;

$color-light: #FFF;

$font-primary: 'Calistoga', cursive;
$font-secondary: 'Rubik', sans-serif;